*{
    margin:0; 
    padding:0;
}
body{             
    font-family:'Trebuchet MS';
    background-color: rgb(221, 221, 221);
    /*overflow: hidden;*/
}
/*Navigation bar*/
.nav-bar{
    display: flex;          
    align-items: center;

    position: fixed;
    z-index: 1; /*dropdown occurs only when this applied,stack order of an element*/

    gap:50px;
    padding:20px;
    width: 100%;

    background-color: black;
    color:white;
}
.nav-link-main{
    font-size: 1.5em;
    color: white;
}


a{  text-decoration: none;}

.dropbtn {
    color: rgb(209, 203, 203);
    padding:10px;
  }
.dropdown {
    position: relative; /*parent*/
   
}
.dropdown-content {
    display: none;
    position: absolute;/*child--so that it can overlap the nav bar*/
    margin: -5px;
    background-color: white;
    width: 100px;
}
ul{ 
    list-style-type: none;
}
.dropdown-content a {
    color: black;
    display: block;
    padding: 10px 25px;
}
  
.dropdown-content a:hover {
        background-color: rgb(174, 171, 171);
}

.dropdown:hover { 
    .dropdown-content{display: block;}
    .dropbtn{color: white;}
    cursor:pointer;
}

/*video component*/
video{
    height: 100%;
    width: 100%;
    margin-top:-80px; 
}
.vid_body{
    position: relative;
}
.title-text
{
    background-color: rgb(90, 83, 83, 0.3); /*opacity*/
    color: white;
    position: absolute;
    top:40%;
    left:5%;
}
.up_text{
    margin-bottom: 20px;
}
.down_text{
    font-size:4em;
    margin-top: 20px;
}
.btn{
    position: absolute;
    bottom:0;
    left:0;

    background-color: rgba(7, 7, 7, 0.8);
    color:white;
    border: none;
    height: 35px;
    width:100px;
    
}
